/* global reset start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*html {
  font-size: 10px; }

body {
  font-family: 'Open Sans', sans-serif; }

/* global reset ended */
.btn .btn-primary {
  background-color: #039be5; }

.Date-Icon {
  width: 34px;
  height: 35px;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  color: white; }

/* header start */
.header {
  width: 100%;
  position: relative; }

.bg-image-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  overflow: hidden; }

.header-content {
  padding: 78px 150px 95px 150px; }
  @media (min-width: 576px) and (max-width: 991.98px) {
    .header-content {
      padding: 54px 40px 57px 40px; } }
  @media (max-width: 575.98px) {
    .header-content {
      padding: 23px 15px; } }

/* header-top-rows start */
.header-top-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* row left start*/ }
  .header-top-row-container .brand-logo-wrapper {
    order: 1; }
    .header-top-row-container .brand-logo-wrapper img {
      width: 275px;
      height: 74px; }
      @media (min-width: 767.98px) and (max-width: 991.98px) {
        .header-top-row-container .brand-logo-wrapper img {
          width: 220px;
          height: 59px; } }
      @media (max-width: 576px) {
        .header-top-row-container .brand-logo-wrapper img {
          width: 172px;
          height: 46px; } }
  .header-top-row-container .sell-tickets-link {
    order: 2;
    justify-self: flex-end;
    background-color: #039be5;
    color: #fff;
    width: 187px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px; }
    @media (max-width: 767.98px) {
      .header-top-row-container .sell-tickets-link {
        order: 3;
        width: 100%;
        margin-top: 40px;
        height: 60px; } }
  .header-top-row-container .header-dropdown {
    order: 3;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding-left: 15px;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%; }
    @media (max-width: 767.98px) {
      .header-top-row-container .header-dropdown {
        order: 2;
        margin-left: 0; } }
    @media (max-width: 767.98px) {
      .header-top-row-container .header-dropdown {
        width: 150px; } }
    .header-top-row-container .header-dropdown * {
      font-size: 15px;
      color: #fff;
      text-decoration: none;
      list-style: none; }
    .header-top-row-container .header-dropdown > i {
      font-size: 16px; }
      .header-top-row-container .header-dropdown > i:first-of-type {
        margin-right: 5px; }
        @media (max-width: 767.98px) {
          .header-top-row-container .header-dropdown > i:first-of-type {
            margin-right: 5px;
            font-size: 42px;
            align-self: flex-end; } }
      .header-top-row-container .header-dropdown > i:last-of-type {
        margin-left: 5px; }
        @media (max-width: 767.98px) {
          .header-top-row-container .header-dropdown > i:last-of-type {
            display: none; } }
    .header-top-row-container .header-dropdown li {
      list-style-type: none;
      color: white;
      border-top: 1px solid white;
      width: 200px;
      padding: 10px;
      text-align: left; }
    .header-top-row-container .header-dropdown .header-dropdown-container {
      padding: 0;
      margin: 0; }
      .header-top-row-container .header-dropdown .header-dropdown-container .header-dropdown-content {
        display: none;
        position: absolute;
        right: 150px;
        top: 134px;
        padding: 0 !important;
        margin: 0 !important;
        width: 200px;
        background-color: white;
        border: 1px solid #e1e2e4;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
        z-index: 100; }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .header-top-row-container .header-dropdown .header-dropdown-container .header-dropdown-content {
            right: 40px;
            top: 104px; } }
        @media (min-width: 576px) and (max-width: 767.98px) {
          .header-top-row-container .header-dropdown .header-dropdown-container .header-dropdown-content {
            right: 290px;
            top: 192px; } }
        @media (max-width: 576px) {
          .header-top-row-container .header-dropdown .header-dropdown-container .header-dropdown-content {
            right: 16.5px;
            top: 66px; } }
        .header-top-row-container .header-dropdown .header-dropdown-container .header-dropdown-content li {
          border-top: 1px solid #e1e2e4; }
          .header-top-row-container .header-dropdown .header-dropdown-container .header-dropdown-content li a,
          .header-top-row-container .header-dropdown .header-dropdown-container .header-dropdown-content li i {
            color: #212529;
            padding-left: 10px; }
  .header-top-row-container .header-dropdown:hover {
    background-color: white;
    border: 1px solid #e1e2e4; }
    .header-top-row-container .header-dropdown:hover a,
    .header-top-row-container .header-dropdown:hover i {
      color: #212529; }
    .header-top-row-container .header-dropdown:hover .header-dropdown-content {
      display: block;
      z-index: 999; }

/* row left ended*/
/* header-top-rows ended */
/* search-container start*/
.search-container {
  width: 100%;
  margin-top: 107px; }
  @media (max-width: 767.98px) {
    .search-container {
      margin-top: 57px; } }
  .search-container input {
    border: none;
    display: inline-block;
    height: 100px;
    padding: 20px 30px;
    font-size: 25px;
    border-radius: 10px; }
    @media (max-width: 767.98px) {
      .search-container input {
        height: 72px;
        padding: 10px 10px;
        font-size: 20px; } }
    .search-container input:active, .search-container input:focus {
      outline: none;
      box-shadow: none; }
    .search-container input::placeholder {
      font-style: italic;
      color: #b7bdc4; }
    .search-container input + .input-group-append > span {
      padding-right: 30px;
      border: none;
      background-color: #fff;
      font-size: 30px;
      color: #039be5;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
      @media (max-width: 767.98px) {
        .search-container input + .input-group-append > span {
          font-size: 20px;
          padding-right: 10px; } }

/* search-container ended*/
/* header ended */
.main-section {
  padding: 48px 150px; }
  @media (max-width: 1199.98px) {
    .main-section {
      padding: 15px 28px; } }
  @media (max-width: 576px) {
    .main-section {
      padding: 15px 18px; } }

/* hot-events section start */
.h2-text {
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px; }

.hot-events {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 576px) {
    .hot-events {
      justify-content: center; } }
  .hot-events .feature-item {
    width: 263px;
    height: 211px;
    border: none;
    text-align: center;
    overflow: hidden;
    background-color: #dfe2e6;
    margin-bottom: 30px; }
    @media (max-width: 1199.98px) {
      .hot-events .feature-item {
        width: 226px;
        height: 181px; } }
    @media (max-width: 576px) {
      .hot-events .feature-item {
        width: 290px;
        height: 232px; } }
    .hot-events .feature-item .feature-item-img-container {
      width: 263px;
      height: 151px; }
      @media (max-width: 1199.98px) {
        .hot-events .feature-item .feature-item-img-container {
          width: 226px;
          height: 130px; } }
      @media (max-width: 576px) {
        .hot-events .feature-item .feature-item-img-container {
          width: 290px;
          height: 166px; } }
    .hot-events .feature-item img {
      width: 100%;
      height: 100%; }
    .hot-events .feature-item .card-body {
      color: #212529;
      background: #dfe2e6;
      display: flex;
      justify-content: center;
      align-items: center; }
      .hot-events .feature-item .card-body .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0; }

/* hot-events section ended */
/* ticket-summary section start */
.ticket-summary {
  padding: 50px 150px 75px 150px;
  color: #fff; }
  @media (max-width: 1199.98px) {
    .ticket-summary {
      padding: 20px 15px 30px 15px; } }
  .ticket-summary h2 {
    text-align: center;
    margin-bottom: 32px; }
    @media (max-width: 576px) {
      .ticket-summary h2 {
        font-size: 25px; } }
    @media (max-width: 576px) {
      .ticket-summary h2 {
        margin-bottom: 0; } }
  .ticket-summary .ticket-summary-item .ticket-clickable-link {
    color: #fff;
    text-decoration: none;
    display: flex; }
    .ticket-summary .ticket-summary-item .ticket-clickable-link:hover, .ticket-summary .ticket-summary-item .ticket-clickable-link:active, .ticket-summary .ticket-summary-item .ticket-clickable-link:focus, .ticket-summary .ticket-summary-item .ticket-clickable-link:visited {
      color: #fff; }
    @media (min-width: 576px) and (max-width: 1199.98px) {
      .ticket-summary .ticket-summary-item .ticket-clickable-link {
        display: block; } }
    @media (max-width: 576px) {
      .ticket-summary .ticket-summary-item .ticket-clickable-link {
        margin-top: 50px; } }
    .ticket-summary .ticket-summary-item .ticket-clickable-link i {
      font-size: 87px;
      margin-right: 18px;
      align-self: center; }
      @media (min-width: 576px) and (max-width: 1199.98px) {
        .ticket-summary .ticket-summary-item .ticket-clickable-link i {
          margin-left: 50%;
          transform: translateX(-50%);
          margin-bottom: 20px; } }
      @media (max-width: 575.98px) {
        .ticket-summary .ticket-summary-item .ticket-clickable-link i {
          font-size: 50px;
          margin-right: 14px; } }
    .ticket-summary .ticket-summary-item .ticket-clickable-link h3 {
      margin-bottom: 2px;
      font-size: 25px;
      font-weight: bold; }
      @media (max-width: 1199.98px) {
        .ticket-summary .ticket-summary-item .ticket-clickable-link h3 {
          font-size: 18px;
          text-align: center;
          margin-bottom: 10px; } }
      @media (max-width: 576px) {
        .ticket-summary .ticket-summary-item .ticket-clickable-link h3 {
          text-align: left;
          margin-bottom: 5px; } }
    .ticket-summary .ticket-summary-item .ticket-clickable-link p {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 200; }
      @media (min-width: 768px) and (max-width: 1199.98px) {
        .ticket-summary .ticket-summary-item .ticket-clickable-link p {
          font-size: 12px;
          text-align: center; } }
      @media (max-width: 576px) {
        .ticket-summary .ticket-summary-item .ticket-clickable-link p {
          text-align: left; } }

/* ticket-summary section ended */
/* new design ended*/
/* header-top-rows ended */
/* footer start */
.footer {
  font-size: 12px !important;
  padding-top: 21px;
  padding-bottom: 32px;
  background-color: #dfe2e6;
  line-height: 2;
  color: #212529; }
  .footer .list-container {
    padding-bottom: 30px; }
  .footer .icons-container {
    display: inline-block; }

@media (max-width: 767px) {
  .footer {
    padding-bottom: 32px; }
  .footer .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px; }
  .footer .container-fluid .col {
    font-size: 12px; }
  .footer .icons {
    font-size: 30px;
    padding-right: 40px; } }

@media only screen and (max-width: 991.98px) and (min-width: 768px) {
  .footer {
    padding-top: 14px;
    padding-bottom: 14px; }
  .footer .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px; }
  .footer .icons {
    font-size: 25px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .footer {
    padding-top: 14px;
    padding-bottom: 14px; }
  .footer .icons {
    font-size: 25px;
    padding-right: 20px; }
  .footer .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
    font-size: 14px; } }

/* footer ended */
