<!-- Begin Hot Events Include -->
<% const SAMPLE_CONTENT = require("config/feature-content.json") %>
<% SAMPLE_CONTENT.features[0].categories.forEach(function(category) { %>
    <% category.shows.slice(0,3).forEach(function(show) { %>
        <div class="feature-item card">
            <div class="feature-item-img-container">
                <img src="<%= show.links.image %>" alt="<%= show.name %>" class="card-img-top"  />
            </div>
            <div class="card-body">
                <div class="card-title"><%= show.name %></div>
            </div>
        </div>
    <%}); %>
<%}); %>
<!-- End Hot Events Include -->